ansys-fluent-core==0.12.3
ansys-dpf-core==0.7.2
h5py>=3.6.0
Jinja2==3.1.2
matplotlib==3.7.1
meshio==5.3.4
numpy<=1.24.2
pandas==1.5.2
scipy==1.10.0
vtk>=9.1.0
tqdm==4.64.0
wget==3.2
validators==0.20.0
pint==0.20.1
pyyaml==6.0
pyvista==0.38.1
