# GitHub workflow for functional tests
# Tests consistencty of model being generated
name: Test model generation
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize', 'ready_for_review']
  push:
    tags:
      - "*"
    branches:
      - main
  workflow_dispatch:

# Required env variables for pyfluent
env:
  MAIN_PYTHON_VERSION: "3.11"
  AWP_ROOT241: "C:\\Program Files\\ANSYS Inc\\v241"
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_UI_MODE: "no_gui"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.event.pull_request.draft == false && !contains(github.event.pull_request.labels.*.name, 'tests:skip')
    name: Tests requiring PyFluent
    runs-on: [self-hosted, pyhealth]
    timeout-minutes: 45
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up uv with Python
        uses: astral-sh/setup-uv@v5

      - name: Create a virtual environment and install dependencies
        run: |
          uv venv .venv --seed --python=${{ env.MAIN_PYTHON_VERSION }}
          uv pip install .[tests]

      # run all tests requiring Fluent (these are very slow compared to the previous tests)
      - name: Run all tests requiring (Py)Fluent
        continue-on-error: false
        run: |
          .venv\Scripts\Activate.ps1
          python -m pytest -v -m "requires_fluent"

      # These tests will reuse an existing mesh and skip the step where the entire model
      # is remeshed.
      - name: Test model generation
        continue-on-error: false
        run: |
          .venv\Scripts\Activate.ps1
          python -m pytest -v -m "extract_models and not requires_fluent and not k_file_writer"
          python -m pytest -v -m "k_file_writer"
